.custom-card {
    transition: all 0.3s;
  }
  
  .custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .confirmation-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .confirmation-buttons button {
    margin: 0 10px;
  }