.medicine-card {
  transition: transform 0.3s ease-in-out;
}

.medicine-card:hover {
  transform: translateY(-5px);
}

.btn {
  font-family: 'Roboto', sans-serif;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}
